header *
{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

header label
{
  font-family: 'GhoulsAndGhosts';

  cursor: pointer;
}
header a
{
  font-family: 'PixelSplitter';
  font-size: 16px;

  position: relative;
  z-index: 2;
}

#toolbox
{
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;

  z-index: 2;
}
#toolbox::before
{
  content: '';
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  overflow: hidden;

  pointer-events: none;
}

#toolbox input[type="radio"]
{
  width: 0;
  height: 0;
  visibility: hidden;
  position: absolute;
  top: -20px;
  left: -20px;
}

#toolbox > div > label
{
  -webkit-box-sizing: content-box;
  box-sizing: content-box;

  padding: 6px 10px;
  margin: 0 20px;

  font-weight: bold;
  font-size: 40px;
}

#toolbox > div > .subnav
{
  width: 40vw;
  height: 35px;
  padding: 0 25px;
  border-bottom-style: solid;
  border-bottom-width: 4px;

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -2;

  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;

  -ms-align-items: center;
  align-items: center;

  -webkit-transition: bottom .3s ease-out;
  -o-transition: bottom .3s ease-out;
  transition: bottom .3s ease-out;
}

#toolbox > div > .subnav::before
{
  content: '';
  width: 0;
  height: 0;
  border-top-style: solid;
  border-top-width: 35px;
  border-right-style: solid;
  border-right-width: 40px;

  position: absolute;
  top: 0;
  right: -40px;
}
#toolbox > div > .subnav::after
{
  content: '';
  width: 0;
  height: 0;
  border-top-style: solid;
  border-top-width: 31px;
  border-right-style: solid;
  border-right-width: 31px;

  position: absolute;
  top: 0;
  right: -31px;
}


#toolbox > div.active > .subnav { bottom: -35px; }
#toolbox > div > .subnav > div> label
{
  padding: 2px 10px;
  margin: 0 20px;

  font-weight: bold;
  font-size: 32px;
}

#grid_wrapper
{
  width: 100%;
  height: 100%;

  overflow: auto;
}

#grid
{
  width: 3204px;
  height: 3204px;
  padding: 2px;

  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;

  overflow: hidden;

  cursor: pointer;
}

.cell
{
  width: 32px;
  height: 32px;
  padding: 1px;

  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;

  position: relative;
}
.cell::before
{
  content: "";
  width: 100%;
  height: 100%;
}
.cell.room { padding: 0;  border-width: 0; }

.cell.room.up_wall::before,
.cell.room.right_wall::before,
.cell.room.bottom_wall::before,
.cell.room.left_wall::before
{
  border-style: solid;
  border-width: 0;
}
.cell.room.up_wall::before,
.cell.room.bottom_wall::before
{
  height: 28px;
}
.cell.room.up_wall.bottom_wall::before { height: 24px; }
.cell.room.right_wall::before,
.cell.room.left_wall::before
{
  width: 28px;
}
.cell.room.right_wall.left_wall::before { width: 24px; }

.cell.room.up_wall::before { border-top-width: 4px; }
.cell.room.right_wall::before { border-right-width: 4px; }
.cell.room.bottom_wall::before { border-bottom-width: 4px; }
.cell.room.left_wall::before { border-left-width: 4px; }

.cell > .border
{
  position: absolute;
  z-index: 5;
}

.cell > .border.up, .cell > .border.bottom { width: 100%; height: 33%; left: 0; }
.cell > .border.up { top: 0; }
.cell > .border.bottom { bottom: 0; }

.cell > .border.right, .cell > .border.left { width: 33%; height: 100%; top: 0; }
.cell > .border.right { right: 0; }
.cell > .border.left { left: 0; }

.cell.room.structure::after,
.cell.room.marker::after,
.cell.room.furniture::after
{
  content: '';

  position: absolute;
  top:50%;
  left:50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  display:flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}
.cell.room.structure::after { width: 12px; height: 12px; }
.cell.room.structure.round_pillar::after,
.cell.room.furniture.round_table::after
{ border-radius: 50%; }
.cell.room.furniture::after { width: 18px; height: 12px; }

.cell.room.marker::after
{
  font-family: 'PixelSplitter';
  font-size: 22px;
}
.cell.room.marker.sta::after { content: '*'; }
.cell.room.marker.int::after { content: '?'; }
.cell.room.marker.exp::after { content: '!'; }
